@charset "UTF-8";
html {
  overflow: hidden; }

body {
  width: 1920px;
  height: 1080px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }

section {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

section.visible {
  opacity: 1; }

.hidden {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

section#scoreboard.visible {
  margin-left: 0px; }

section#scoreboard {
  position: absolute;
  margin-left: -300px;
  top: 80px;
  left: 200px;
  height: 60px;
  font-family: helvetica;
  box-sizing: border-box;
  color: #2d2d2d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 30px;
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 10px;
  border-radius: 10px; }
  section#scoreboard span#team1, section#scoreboard span#team2 {
    padding: 11px;
    display: inline-block; }
  section#scoreboard span#score1, section#scoreboard span#score2 {
    color: #fafafa;
    padding: 15px;
    display: inline-block;
    background: -webkit-linear-gradient(-45deg, #a01f31 0%, #7a181a 100%);
    background: -webkit-linear-gradient(315deg, #a01f31 0%, #7a181a 100%);
    background: linear-gradient(135deg, #a01f31 0%, #7a181a 100%); }

section#holding {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background: #9c1f31;
  background: -webkit-linear-gradient(-45deg, #9c1f31 0%, #7a181a 100%);
  background: -webkit-linear-gradient(315deg, #9c1f31 0%, #7a181a 100%);
  background: linear-gradient(135deg, #9c1f31 0%, #7a181a 100%);
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s !important;
  transition: 1s !important;
  z-index: 99;
  background: #7a1822;
  background: -webkit-linear-gradient(-45deg, #7a1822 0%, #9c1f31 50%, #da5367 100%);
  background: -webkit-linear-gradient(315deg, #7a1822 0%, #9c1f31 50%, #da5367 100%);
  background: linear-gradient(135deg, #7a1822 0%, #9c1f31 50%, #da5367 100%); }
  section#holding h1 {
    text-align: center;
    color: #fafafa;
    font-size: 600%;
    font-family: league gothic;
    margin: 90px 0px 20px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400; }
  section#holding h2 {
    text-align: center;
    color: #dfdfdf;
    font-size: 300%;
    font-family: league gothic;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px;
    font-style: italic;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  section#holding img {
    width: 350px;
    height: auto;
    -webkit-filter: brightness(100) drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.2));
            filter: brightness(100) drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.2)); }

section#ticker.visible {
  margin-bottom: 0px; }

section#ticker {
  position: absolute;
  width: 1920px;
  height: 60px;
  background-color: #9c1f31;
  left: 0px;
  right: 0px;
  bottom: 80px;
  overflow: hidden;
  margin-bottom: -100px; }
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(1920px);
            transform: translateX(1920px); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }
@keyframes marquee {
  0% {
    -webkit-transform: translateX(1920px);
            transform: translateX(1920px); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }
  section#ticker div#trails {
    position: absolute;
    overflow: hidden;
    margin: 0;
    left: 205px;
    right: 0px;
    z-index: 2;
    height: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    section#ticker div#trails marquee {
      font-size: 30px;
      color: #fafafa;
      height: 60px;
      padding: 16px 0px;
      font-family: helvetica;
      margin: 0;
      white-space: nowrap;
      marquee-speed: 60s;
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block; }
      section#ticker div#trails marquee li:last-of-type {
        margin-right: 0; }
      section#ticker div#trails marquee li:last-of-type::after {
        content: none;
        margin-left: 0; }
      section#ticker div#trails marquee li::after {
        content: "•";
        margin-left: 80px; }
      section#ticker div#trails marquee li {
        display: inline;
        padding: 0;
        margin-right: 80px;
        text-transform: uppercase; }
  section#ticker span#time {
    color: #fafafa;
    font-family: helvetica;
    text-align: center;
    font-size: 30px;
    height: 60px;
    position: absolute;
    left: 200px;
    display: inline-block;
    padding: 13px;
    box-sizing: border-box;
    background: #681121;
    z-index: 3; }

section#lower-third.visible {
  margin-bottom: 0px; }

section#lower-third {
  width: 1920px;
  height: 130px;
  background: rgba(255, 255, 255, 0.8);
  left: 0px;
  right: 0px;
  bottom: 140px;
  position: absolute;
  padding: 10px 0px;
  margin-bottom: -50px;
  z-index: -1; }
  section#lower-third span#headline {
    font-family: helvetica;
    font-weight: 700;
    font-size: 60px;
    margin-left: 200px;
    margin-top: 15px;
    color: #2d2d2d;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  section#lower-third span#subheadline {
    font-family: helvetica;
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 200px;
    color: #2d2d2d;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

section#bug.visible {
  margin-right: 0px; }

section#bug {
  margin-right: -300px;
  position: absolute;
  top: 80px;
  right: 0px;
  height: 60px;
  width: 300px;
  font-family: helvetica;
  padding: 15px;
  box-sizing: border-box;
  color: #2d2d2d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 30px; }
  section#bug span#venue {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  section#bug span#live {
    color: #fafafa;
    background-color: #9c1f31;
    position: absolute;
    top: 0px;
    right: 300px;
    height: 60px;
    box-sizing: border-box;
    padding: 15px;
    text-transform: uppercase; }
  section#bug img {
    position: absolute;
    right: 410px;
    top: 0px;
    height: 60px;
    width: 60px;
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg); }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
    transform: rotate3d(0, 1, 0, 360deg); } }
section#slice {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s !important;
  transition: 1s !important;
  z-index: 99;
  padding: 80px 140px;
  box-sizing: border-box; }
  section#slice div {
    width: 1000px;
    height: 2000px;
    position: absolute;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    background: #9c1f31;
    background: -webkit-linear-gradient(-45deg, #9c1f31 0%, #7a181a 100%);
    background: -webkit-linear-gradient(315deg, #9c1f31 0%, #7a181a 100%);
    background: linear-gradient(135deg, #9c1f31 0%, #7a181a 100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4); }
  section#slice div:first-of-type {
    top: -600px;
    left: -850px; }
  section#slice div:last-of-type {
    bottom: -800px;
    right: -100px; }
  section#slice h1 {
    text-align: right;
    color: #fafafa;
    font-size: 700%;
    font-family: league gothic;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    z-index: 7;
    max-width: 550px;
    margin: 0px; }
  section#slice h2 {
    text-align: right;
    color: #dfdfdf;
    font-size: 300%;
    font-family: league gothic;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px;
    max-width: 550px;
    font-style: italic;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 7;
    margin: 120px 0px 20px 0px; }
  section#slice img {
    width: 320px;
    height: auto;
    -webkit-filter: brightness(100) drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.2));
            filter: brightness(100) drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.2));
    z-index: 7; }
